.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 83%;
    height: 100vh;
    color: #363636;
    font-size: 17px;
}

.header {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header-image {
    height: 65%;
}

.content {
    &__header {
        text-transform: uppercase;
        font-size: 3em;
    }

    &__info {
        display: block;
        font-size: 1.2em;
        font-weight: lighter;
        opacity: 0.9;
        margin-top: 10px;

        &__line {
            display: block;
            padding: 1px 0 1px 0;
        }

        &__line:nth-child(3) {
            padding: 15px 0 1px 0;
            color: #01812c;
        }
    }

    &__contact {
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 25px;
        padding: 11px;
        border: 2px solid #01812c;
        letter-spacing: 1.5px;
        transition: all .5s ease;
    }

    &__contact:hover {
        font-size: 1.2em;
        background-color: #363636;
        color: #ffff;
        border: 2px solid #01812c;
    }

    &__contact:focus {
        font-size: 1.2em;
        background-color: #363636;
        color: #ffff;
        border: 2px solid #00250d;
    }
}

.scroll-down {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__btn {
        width: 30px;
        height: 30px;
    }
}