@import "variables";

.sidebar {
    width: 17%;
    height: 100vh;
    background-color: $background-black;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.main-header {
    height: 25%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #707070;

    &__title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 2em;
        font-weight: lighter;
        letter-spacing: 0.1em;
        line-height: 1.2em;

        &-link {
            text-align: start;
            transition: opacity .5s ease;

            &:hover {
                opacity: 0.6;
            }

        }
    }
}

.main-nav {
    height: 65%;

    &__menu {
        display: flex;
        flex-direction: column;
        padding: 70px 15% 30px;

        &-item {
            position: relative;
            padding: 20px 0;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.9em;
            letter-spacing: 0.15em;

            &-text {
                cursor: pointer;
                transition: color .5s ease;

                &:hover {
                    color: $pink-main;
                }
            }
        }
    }
}

.copyright {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;

    &-link {
        transition: color .5s ease;

        &:hover {
            color: $pink-main;
        }
    }
}

@media (max-width: 1640px) {
    .sidebar {
        transform: translateX(-100%)
    }
}